@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  @font-face {
    font-family: "Parqa";
    font-style: normal;
    font-weight: 400;
    src: local("Parqa"), url("https://www.behance.net/gallery/4750011/PARQA-Typeface");
  }
  
 nav {
    /* background-color: rgba(255,250,239,1); */
    /*background-color: hsla(210, 29%, 13%, 0.92) !important;*/
    /*background-color: rgba(237, 237, 237, 1) !important;*/
    /* font-size-adjust: auto;
    min-height: 3.5rem; */

  }
  
  
  body {
    padding-top: 3.5rem;
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 250, 239);
    /*background-color: rgb(251, 247, 245); (pale pinkish)*/
  }
  
  .about{
    background-image: url("https://images.pexels.com/photos/872959/pexels-photo-872959.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
  }
  
  .aboutbody{
    border-width: 3px;
    border-style: double;
    background-color: rgba(255, 250, 239,1);
    margin-top: 6rem;
  }
  
  .abouttitle{
    background-color: rgba(255, 250, 239,0.0001);
    z-index: 15;
  }
  
  .hero {
      min-height: 21.5rem;
  }
  
  .dropdown-menu {
    background-color: rgba(256,256,256,1) !important;
    margin-top: 0.6rem !important;
  }
  
  @media (min-width: 576px){
    .title {
      text-align: justify !important;
    }
    .title h1{
      font-size: 3.5rem;
    }
    .title h2{
      font-size: 2.5rem;
    }
  }
  
  @media (min-width: 576px){
    .about h1{
      font-size: 3.5rem;
    }
    .about h2{
      font-size: 2.5rem;
    }
  }
  
  .parallax1 {
      /* The image used */
      background-image: url("https://images.pexels.com/photos/700971/pexels-photo-700971.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
  
      /* Set a specific height */
      height: 400px;
      
  
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .parallax2 {
      /* The image used */
      background-image: url("https://images.pexels.com/photos/700971/pexels-photo-700971.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
  
      /* Set a specific height */
      height: 8rem;
      margin-top: 8rem;
  
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  hr.style2 {
      border-top: 3px double #8c8b8b;
    width: 75%auto;
  }
  
  #myBtn {
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 11.5rem; /* Place the button at the bottom of the page */
      margin-left: 40%; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: none; /* Remove borders */
      outline: none; /* Remove outline */
      background-color: gray; /* Set a background color */
      color: white; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      padding: 15px; /* Some padding */
      border-radius: 10px; /* Rounded corners */
      font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
      background-color: #555; /* Add a dark-grey background on hover */
  }
  